/* ---------- 通用样式 ---------- */
body {
    background:    white;
}
h1, h2 {
    margin:     0;
    padding:    0.5em;
}
p {
    padding:    0  0.5em;
}
.Item-Box.visible {
    width:    98%;
}
.Grid-Column p.Ellipsis {
    max-width:    9em;
}


.Full {
    width:     100%;
    height:    100%;
    margin:    0;
}
.Full > section:only-of-type {
    height:        85%;
    overflow-y:    auto;
    overflow-x:    hidden  !important;
}
.Full > footer:only-of-type {
    height:    15%;
}
.Full > footer > * {
    -webkit-box-flex:    1;
    -webkit-flex:        1;
            flex:        1;
}
.Full > footer > .CenterX {
    -webkit-box-flex:    2;
    -webkit-flex:        2;
            flex:        2;
}


.SubTitle {
    color:          darkgray;
    font-weight:    normal;
    padding:        0.25em  0.1em;
    margin:         0;
    display:        block  !important;
}
.SubTitle > .Icon {
    width:     1.5em;
    height:    1.5em;
}


p.Text {
    border-top:       1px  solid  darkgray;
    border-bottom:    1px  solid  darkgray;
    margin:           0.5em;
    padding:          0.5em;
}


.Tool .Icon {
    width:     1.5em;
    height:    1.5em;
}
.Tool {
    padding:    0  0.25em;
}
.Icon.Return {
    border:    1px  solid  gray;
}