#Main_Title,  #Main_Nav > li > a  {
    padding:    1em  2em;
}
body > .Head > .DropDown {
    width:    100%;
}
@media (max-width: 640px) {
    body > .Head {
        position:    fixed;
        left:        0;
        top:         0;
        z-index:     1;
        width:       100%;
    }
    body > .Head > .Grid-Row {
        display:           inline-table  !important;
        width:             80%;
        vertical-align:    middle;
    }
    body > .Head > .DropDown {
        width:             15%;
        vertical-align:    middle;
    }
    #Main_Title {
        font-size:     0.5em;
        text-align:    left;
        padding:       0  0.5em;
    }
    #Main_Content {
        padding:    2.5em  0  0;
    }
    #Main_Title p,  #Toolkit,  #Content_Nav  {
        display:    none;
    }
}

#Main_Nav {
    border-top:    1px  dashed  white  !important;
    left:          0;
    width:         100%;
}
#Main_Nav > li:first-child {
    display:    none;
}
#Main_Nav > li.focus:first-child {
    display:    inline-block;
}
#Main_Nav > li > a {
    border-top:       4px  solid   transparent;
    border-bottom:    4px  solid   transparent;
}
#Main_Nav > li > a:hover {
    border-bottom-color:    rgb(245, 80, 80);
}
@media (max-width: 640px) {
    #Main_Nav {
        left:    -240%;
    }
    #Main_Nav > li:first-child {
        display:    none;
    }
    #Main_Nav > li > a {
        padding:    0;
    }
}

body > .Head a:link,  body > .Head a:visited,
body > .Foot a:link,  body > .Foot a:visited  {
    color:    white;
}
body > .Head a:hover,  body > .Foot a:hover  {
    color:    rgb(245, 80, 80)  !important;
}

body > .Foot {
    margin-top:    1em  !important;
}
body > .Foot > * {
    padding:    2em;
}


body > .PC_Narrow > div {
    position:    relative;
}
#Toolkit {
    position:    absolute;
    top:         1.5em;
    right:       0;
    z-index:     1;
}
#QRcode > .Body {
    left:     auto;
    right:    0;
}
#QRcode .Icon:hover {
	background:    transparent;
}


#Main_Content ul a > img {
    max-width:    10em;
}
#Content_Nav {
    margin-top:    3.85em;
}