<link rel="stylesheet" href="loading.css" />

<script src="loading.js"></script>

<div class="loading ${this.count ? 'active' : ''}">
    <div class="loader">
        <div class="ball-spin-fade-loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="ball-scale-multiple">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="loading_content">loading...</div>
    </div>
</div>