/* ---------- 通用样式 ---------- */
html, body {
    overflow:    hidden;
}
.InnerPage {
    display:    none;
}


#Main_Nav {
    list-style:    none;
    padding:       0;
    background:    rgb(40, 40, 40);
    color:         lightgray;
}
#Main_Nav li {
    padding:        1em;
    border-left:    0.3em  solid  transparent;
    cursor:         pointer;
}
#Main_Nav li:hover,
#Main_Nav li.active {
    border-color:    rgb(100, 150, 240);
    filter:          progid:DXImageTransform.Microsoft.Gradient(
        GradientType=0, StartColorStr="#7F6496F0", EndColorStr="#7F6496F0"
    );
    background:      rgb(0, 0, 0);    /*  IE 8 滤镜 Hover 背景色抖动 Bug */
    background:      rgba(100, 150, 240, 0.5);
    color:           white;
}
:root #Main_Nav li:hover,
:root #Main_Nav li.active {
    filter:    none \0;
}
#Main_Nav li.Head {
    font-weight:    bold;
    text-align:     center;
}
#Main_Nav li.Head:hover,
#Main_Nav li.Head.active {
    border-color:    transparent;
    background:      transparent;
    filter:          none;
}


#User_Bar {
    box-shadow:    0.3em  0.2em  1em  gray;
    height:        auto;
}
#User_Bar > .Grid-Column {
    padding:    0.5em;
}
#User_Bar .DropDown.Body > li {
    padding:    0.5em  1em;
}


#Main_View {
    padding:     1em  1em  0;
    height:      95.4%;
    overflow:    auto;
}
form [multiple] label {
    margin:     0.25em  0.5em;
    padding:    0.5em;
}
form [multiple] label:hover,
form [multiple] label.active {
    opacity:    0.7;
    filter:     Alpha(opacity=70);
}
form [multiple] input[type="radio"] {
    display:    none;
}

table td.Background-Image {
    border:    0.5em  solid  transparent;
}
table > tfoot ol {
    padding:       0;
    max-height:    4em;
    overflow:      hidden;
    position:      relative;
}
table > tfoot ol:after {
    content:        "...";
    font-size:      inherit;
    line-height:    normal;
    height:         auto;
    width:          auto;
    visibility:     visible;
    position:       absolute;
    right:          0;
    bottom:         0.7em;
}
table > tfoot ol:hover {
    max-height:    none;
}
table > tfoot ol:hover:after {
    font-size:      0;
    line-height:    0;
    height:         0;
    width:          0;
    visibility:     hidden;
}
table > tfoot ol > li {
    display:    inline-block;
    padding:    0  0.7em;
}
table > tfoot ol > li:hover {
    background:    white;
}