@charset "UTF-8";

/* ---------- 容器样式 ---------- */

body {
    background:     rgb(230, 230, 230);
    padding-top:    4em;
}
body:before {
    content:        "网络传输中……";
    position:       fixed;
    left:           0;
    top:            0;
    z-index:        100;
    width:          100%;
    height:         100%;
    line-height:    480px;
    font-size:      2em;
    font-weight:    bold;
    text-align:     center;
    color:          white;
    text-shadow:    1px  1px  1px  black;
    background:     rgba(0, 0, 0, 0.5);
}
body.Loaded:before {
    display:    none;
}
body > .Head {
    position:    fixed;
    left:        0;
    top:         0;
    z-index:     10;
    width:       100%;
    height:      4em;
}
.NavBar > .DropDown {
        width:         3em;
   -moz-transition:    0.25s;
     -o-transition:    0.25s;
-webkit-transition:    0.25s;
        transition:    0.25s;
}
.NavBar > .DropDown > a:link {
    color:    white;
}
.NavBar > .DropDown:hover {
    width:    7.25em;
}
.NavBar > .DropDown > .Body {
    max-height:    1400%;
    overflow:      auto;
    min-width:     100%;
}
.NavBar > .DropDown > .Body > li > a {
    padding:    1em;
}
.Content > * {
    margin-bottom:    0.5em  !important;
}
.Content > small > * {
    text-align:    right;
    padding:       0  1em;
}
.Content > small > *:first-child {
    text-align:    left;
}
body > .Foot > * {
    padding:    2em;
}
body > .Foot a:link,  body > .Foot a:visited  {
    color:    white;
}
body > .Foot a:hover {
    color:    rgb(245, 80, 80);
}