<style>
    select {
        vertical-align:    middle;
        display:           none;
    }
    select:first-of-type {
        display:    inline-block;
    }
</style>
<script src="Admin_District.js"></script>

<select name="province"
        data-href="?data=config/district?keywords=100000"
        onrequest="${view.setParam}"
        ondata="${view.fixData}"
        onready="${view.checkCode}"
        onchange="${view.loadSub}">

    <option value="${view.adcode ? view.name : ''}">
        ${view.name}
    </option>
</select>

<select name="city"
        data-href="?data=config/district?keywords=${view.province}"
        onrequest="${view.setParam}"
        ondata="${view.fixData}"
        onready="${view.checkCode}"
        onchange="${view.loadSub}"
        style="display: ${view.province && 'inline-block'}">

    <option value="${view.adcode ? view.name : ''}">
        ${view.name}
    </option>
</select>

<select name="district"
        data-href="?data=config/district?keywords=${view.city}"
        onrequest="${view.setParam}"
        ondata="${view.fixData}"
        onready="${view.checkCode}"
        onchange="${view.loadSub}"
        style="display: ${view.city && 'inline-block'}">

    <option value="${view.adcode ? view.name : ''}">
        ${view.name}
    </option>
</select>

<input type="hidden" name="adcode" value="${view.adcode}" />
