<script>
/* ---------- 行政区 联动查询 ---------- */

// 【文档】http://lbs.amap.com/api/webservice/guide/api/district/

require(['jquery', 'EasyWebApp'],  function ($) {

    function Select_Render($_Item, iValue) {

        $_Item.attr('value', iValue.adcode)[0].textContent = iValue.name;
    }

    $().iWebApp().component('Admin_District',  function () {

        var $_Select = $(),  iWebApp = this.ownerApp,
            iSum = this.$_View.find('select').length;

        function Updater() {

            var iModule = iWebApp.getModule( $_Select.parent() );

            if (this instanceof Element) {
                $_Select = $(this);

                $_Select.next().nextAll().each(function () {

                    $.ListView( this ).clear();

                    iModule.template.scope.setValue(this.name, 0);
                });
            }

            if (($_Select.index() + 1  <  iSum)  &&  $_Select.val())
                iModule.$_View[0].setAttribute('src',  $.extendURL(
                    iModule.$_View[0].getAttribute('src'),
                    {keywords: $_Select[0].value}
                ));
        }

        this.bind('data',  'span[src]',  function (iLink, iData) {

            iData = iData.districts[0].districts;

            $_Select = iData[0]  &&
                    iLink.$_DOM.find('select[name="' + iData[0].level + '"]');

            if (($_Select || '')[0]) {
                $.ListView($_Select, Select_Render).clear().render( iData );

                var ID = this.template.scope[ iData[0].level ];

                if (! $.isNumeric( ID ))
                    this.template.scope.setValue(
                        iData[0].level,
                        $_Select.find(':contains("' + ID + '")').val()
                    );
            }
            return  { };

        }).on('ready', '', '//restapi.amap.com', Updater);

        this.$_View.on('change', 'select', Updater);
    });
});
</script>
<span src="//restapi.amap.com/v3/config/district?key=${this.user_key}&extensions=base&keywords=100000">
    <select name="province">
        <option>请选择</option>
    </select>
    <select name="city">
        <option>请选择</option>
    </select>
    <select name="district">
        <option>请选择</option>
    </select>
</span>