<style disabled>
    ul[data-name] {
        margin:        0;
        height:        100%;
        list-style:    none;
        padding:       0;
    }
    ul[data-name] input[type="radio"] {
        display:    none;
    }
    ul[data-name] input[type="radio"] ~ * {
        display:      none;
        max-width:    100%;
        margin:       auto;
    }
    ul[data-name] input[type="radio"]:checked ~ * {
        display:    block;
    }
</style>
<script src="carousel.js"></script>

<ul data-name="list">
    <li>
        <label for="${this.__id__ + this.__index__}"></label>
        <input type="radio"
               id="${this.__id__ + this.__index__}" name="${vm.name}"
               checked="${! this.__index__}" />
        <img src="${this.url}" />
    </li>
</ul>