<style>
    [href] > .Grid-Row > * {
        padding:    1em;
    }
    [href] > .Grid-Row > *:first-child {
        text-align:    left;
    }
    [href] > .Grid-Row > *:last-child {
        text-align:    right;
    }
	[href] > .Foot {
		border-top:    1px  solid  lightgray;
        text-align:    center;
	}
    [href] > .Foot .NavBar > li {
        border-top:       1px  solid;
        border-bottom:    1px  solid;
        padding:          0.5em  1em;
    }
</style>
<script>
require(['jquery', 'Data_Table'],  function ($) {

    $().iWebApp().component('Data_Table', arguments[1]);
});
</script>
<div class="Grid-Row Head">
    <span>
        显示
        <select name="pageSize">
            <option>10</option>
            <option>20</option>
            <option>30</option>
        </select>
        行
    </span>
    <slot name="toolbar"></slot>
</div>
<slot name="table"></slot>
<div class="Grid-Row CenterY Foot">
    <div>
        <span>跳转到</span>
        <input type="number" name="pageIndex" min="1" max="${this.pageSum}" />
        <span>页</span>
    </div>
    <ul class="NavBar Border-Column">
        <li style="display: ${(this.pageIndex < 3) ? 'none' : ''}">
            1
        </li>
        <li style="display: ${(this.pageSum < 7) || (this.pageIndex < 4) ? 'none' : ''}">
            …
        </li>
        <li style="display: ${(this.pageIndex < 2) ? 'none' : ''}">
            ${this.pageIndex - 1}
        </li>
        <li class="active">
            ${this.pageIndex}
        </li>
        <li style="display: ${(this.pageIndex + 1 > this.pageSum) ? 'none' : ''}">
            ${this.pageIndex + 1}
        </li>
        <li style="display: ${(this.pageSum < 6) || (this.pageIndex + 3 > this.pageSum) ? 'none' : ''}">
            …
        </li>
        <li style="display: ${(this.pageIndex + 2 > this.pageSum) ? 'none' : ''}">
            ${this.pageSum}
        </li>
    </ul>
</div>