<style disabled>
    ul {
        margin:        0;
        padding:       0;
        list-style:    none;
        overflow:      auto;
        outline:       none;
    }
    ul:empty {
        display:    none;
    }
    ul ul {
        padding-left:    1em;
    }
    ul li > a {
        display:        block;
        padding:        0.25em  0.5em;
        border-left:    3px  solid  transparent;
    }
    ul li.active > a {
        border-left-color:    blue;
    }
</style>
<script src="read-nav.js"></script>

<ul data-name="list" is="TreeView" tabindex="-1">
    <li>
        <a title="${view.title}" href="#${view.ID}" onclick="${scope.scrollTo}">
            ${view.title}
        </a>
    </li>
</ul>