<style disabled>
    ul {
        margin:        0;
        padding:       0;
        list-style:    none;
        overflow:      auto;
        outline:       none;
    }
    ul ul {
        padding-left:    1em;
    }
    ul li > a {
        display:        block;
        padding:        0.25em  0.5em;
        border-left:    3px  solid  transparent;
    }
    ul li.active > a {
        border-left-color:    blue;
    }
</style>
<script src="read-nav.js"></script>

<ul tabindex="-1" data-name="tree">
    <li>
        <a title="${view.title}" href="#${view.id}">${view.title}</a>
        <ul data-name="children">
            <li>
                <a title="${view.title}" href="#${view.id}">${view.title}</a>
            </li>
        </ul>
    </li>
</ul>